<!DOCTYPE html>
<html>
<head>
  <title>Breakfastr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to "Breakfastr", root_path %>
		<!-- #if logged in? -->
			<%=link_to "Add a pastry", new_user_pastry_path(1) %>
			<%#link_to "Log out", session_path, method: :delete %>
		<!-- #Else -->
			<%#link_to "Sign up", new_user_path  %>
			<%#link_to "Log in", new_session_path  %>
		<!-- end -->
	</header>
<!-- below provides consistent flash messages across views -->
<!-- flash.each is a hash -->
	<% flash.each do |k,v| %>
		<div class="flash <%= k %>">
			<p><%= v %></p>
		</div>
	<% end %>


<%= yield %>

</body>
</html>
