<!DOCTYPE html>
<html>
<head>
  <title>Breakfastr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
  var ready = function() {
  	
  	// This identifies your website in the createToken call below
  	Stripe.setPublishableKey($('body').data('stripe'));
  
	  // ...
	  jQuery(function($) {
	  	// new_order is change from stripe default values to match our simple form
	  $('#new_order').submit(function(event) {
	    var $form = $(this);
	    console.log("wchxwkh");

	    // Disable the submit button to prevent repeated clicks
	    $form.find('button').prop('disabled', true);

	    Stripe.card.createToken($form, stripeResponseHandler);

	    // Prevent the form from submitting with the default action
	    return false;
	  });
	});

	function stripeResponseHandler(status, response) {
	  var $form = $('#new_order');

	  if (response.error) {
	    // Show the errors on the form
	    $form.find('.payment-errors').text(response.error.message);
	    $form.find('button').prop('disabled', false);
	  } else {
	    // response contains id and card, which contains additional card details
	    var token = response.id;
	    // Insert the token into the form so it gets submitted to the server
	    // stripe_token is our value, not the stripe default
	    $form.append($('<input type="hidden" name="order[stripe_token]" />').val(token));
	    // and submit
	    $form.get(0).submit();
	  }
};
};
$(document).ready(ready);
$(document).on("page:load", ready);
</script>
</head>
<body data-stripe="<%= Rails.application.secrets.stripe_public_key %>">
	<header>
		<%= link_to "Breakfastr", root_path %>
		<% if logged_in? %>
			<%=link_to "Add a pastry", new_pastry_path %>
			<%=link_to "Log out", session_path, method: :delete %>
		<% else %>
			<%=link_to "Sign up", new_user_path  %>
			<%=link_to "Log in", new_session_path  %>
		<% end %>
	</header>
<!-- below provides consistent flash messages across views -->
<!-- flash.each is a hash -->
	<% flash.each do |k,v| %>
		<div class="flash <%= k %>">
			<p><%= v %></p>
		</div>
	<% end %>


<%= yield %>

</body>
</html>
